.userView {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  gap: 6px;
}

.userView__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--color__secondary);
  color: var(--color__background);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.userView__username {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--color__text);
  font-family: sans-serif;
}
